In [10]:
pip install pandas_summary

Collecting pandas_summary
  Downloading pandas_summary-0.0.7-py2.py3-none-any.whl (5.2 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandas_summary) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas_summary) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_summary) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_summary) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_summary) (1.15.0)
Installing collected packages: pandas-summary
Successfully installed pandas-summary-0.0.7

In [11]:
import pandas as pd
import numpy as np
from pandas_summary import DataFrameSummary
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [12]:
print(np.__version__)
print(pd.__version__)

1.19.5
1.1.5

In [13]:
# pip install pyarrow

In [14]:
df_train = pd.read_feather('all_preprocessed_train.fth')
df_test = pd.read_feather('all_preprocessed_test.fth')

In [15]:
df_train.shape, df_test.shape

((1017209, 81), (41088, 80))

In [16]:
# Verificación de que se hicieron bien las cosas en testa también
set(df_train.columns) - set(df_test.columns)

{'Customers', 'Sales'}

In [17]:
(df_train['CompetitionDistance'].isna()).sum()

0

## Categorical vars

In [18]:
cat_vars = ['Store', 'DayOfWeek', 'Year', 'Month', 'Day', 'StateHoliday', 
            'CompetitionMonthsOpen', 'Promo2Weeks', 
            'StoreType', 'Assortment', 'PromoInterval', 
            'CompetitionOpenSinceYear', 'Promo2SinceYear', 
            'State', 'Week', 'Events', 'Promo_fw', 'Promo_bw', 
            'StateHoliday_bool_fw', 'StateHoliday_bool_bw', 'SchoolHoliday_fw', 
            'SchoolHoliday_bw']

In [19]:
DataFrameSummary(df_train[cat_vars]).summary()

                    Store    DayOfWeek  ... SchoolHoliday_fw SchoolHoliday_bw
count         1.01721e+06  1.01721e+06  ...      1.01721e+06      1.01721e+06
mean               558.43      3.99834  ...          1.23098          1.23277
std               321.909      1.99739  ...           2.0553          2.05389
min                     1            1  ...                0                0
25%                   280            2  ...                0                0
50%                   558            4  ...                0                0
75%                   838            6  ...                2                2
max                  1115            7  ...                7                7
counts            1017209      1017209  ...          1017209          1017209
uniques              1115            7  ...                8                8
missing                 0            0  ...                0                0
missing_perc           0%           0%  ...               0%               0%
types             numeric      numeric  ...          numeric          numeric

[13 rows x 22 columns]

In [20]:
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types', 'missing']].T

                         uniques        types missing
Store                       1115      numeric       0
DayOfWeek                      7      numeric       0
Year                           3      numeric       0
Month                         12      numeric       0
Day                           31      numeric       0
StateHoliday                   4  categorical       0
CompetitionMonthsOpen         25      numeric       0
Promo2Weeks                   26      numeric       0
StoreType                      4  categorical       0
Assortment                     3  categorical       0
PromoInterval                  4  categorical       0
CompetitionOpenSinceYear      21      numeric       0
Promo2SinceYear                8      numeric       0
State                         12  categorical       0
Week                          52      numeric       0
Events                        22  categorical       0
Promo_fw                       6      numeric       0
Promo_bw                       6      numeric       0
StateHoliday_bool_fw           3      numeric       0
StateHoliday_bool_bw           3      numeric       0
SchoolHoliday_fw               8      numeric       0
SchoolHoliday_bw               8      numeric       0

In [48]:
# Reemplaza nulls por "" en categoricas
# 
for v in cat_vars: df_train.loc[df_train[v].isnull(), v] = ""

In [49]:
# 
for v in cat_vars: df_test.loc[df_test[v].isnull(), v] = ""

# Continuos Vars

In [50]:
df_train.columns

Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday', 'Year', 'Month', 'Week', 'Day',
       'StoreType', 'Assortment', 'CompetitionDistance',
       'CompetitionOpenSinceMonth', 'CompetitionOpenSinceYear', 'Promo2',
       'Promo2SinceWeek', 'Promo2SinceYear', 'PromoInterval',
       'CompetitionOpenSince', 'Promo2Since', 'State', 'file', 'week', 'trend',
       'Date_y', 'Month_y', 'Day_y', 'file_DE', 'week_DE', 'trend_DE',
       'Date_DE', 'State_DE', 'Month_DE', 'Day_DE', 'file_y',
       'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC',
       'Dew_PointC', 'MeanDew_PointC', 'Min_DewpointC', 'Max_Humidity',
       'Mean_Humidity', 'Min_Humidity', 'Max_Sea_Level_PressurehPa',
       'Mean_Sea_Level_PressurehPa', 'Min_Sea_Level_PressurehPa',
       'Max_VisibilityKm', 'Mean_VisibilityKm', 'Min_VisibilitykM',
       'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'Max_Gust_SpeedKm_h',
       'Precipitationmm', 'CloudCover', 'Events', 'WindDirDegrees',
       'StateName', 'Year_y', 'Week_y', 'CompetitionDaysOpen',
       'CompetitionMonthsOpen', 'Promo2Days', 'Promo2Weeks',
       'StateHoliday_bool', 'AfterSchoolHoliday', 'BeforeSchoolHoliday',
       'AfterStateHoliday_bool', 'BeforeStateHoliday_bool', 'AfterPromo',
       'BeforePromo', 'SchoolHoliday_bw', 'StateHoliday_bool_bw', 'Promo_bw',
       'SchoolHoliday_fw', 'StateHoliday_bool_fw', 'Promo_fw'],
      dtype='object')

In [51]:
contin_vars = ['CompetitionDistance', 
               'Max_TemperatureC', 'Mean_TemperatureC', 'Min_TemperatureC', 
               'Precipitationmm', 'Max_Humidity', 'Mean_Humidity', 'Min_Humidity', 
               'Max_Wind_SpeedKm_h', 'Mean_Wind_SpeedKm_h', 'CloudCover', 'trend', 
               'trend_DE', 'AfterStateHoliday_bool', 'BeforeStateHoliday_bool', 
               'Promo', 'SchoolHoliday', 'StateHoliday_bool']

In [52]:
DataFrameSummary(df_train[contin_vars]).summary().loc[['uniques', 'types', 'missing']].T

                        uniques    types missing
CompetitionDistance         654  numeric       0
Max_TemperatureC             50  numeric       0
Mean_TemperatureC            45  numeric       0
Min_TemperatureC             40  numeric       0
Precipitationmm              40  numeric       0
Max_Humidity                 52  numeric       0
Mean_Humidity                71  numeric       0
Min_Humidity                 93  numeric       0
Max_Wind_SpeedKm_h           42  numeric       0
Mean_Wind_SpeedKm_h          27  numeric       0
CloudCover                    9  numeric       0
trend                        67  numeric       0
trend_DE                     38  numeric       0
AfterStateHoliday_bool      136  numeric       0
BeforeStateHoliday_bool     147  numeric       0
Promo                         2     bool       0
SchoolHoliday                 2     bool       0
StateHoliday_bool             2     bool       0

In [53]:
# Reemplaza nulls por 0 en continuas
# for v in contin_vars: df_train.loc[df_train[v].isnull(), v] = 0
# for v in contin_vars: df_test.loc[df_test[v].isnull(), v] = 0

# Normalización en continuas y LabelEncode en Categoricas

In [54]:
pip install sklearn_pandas

Requirement already satisfied: sklearn_pandas in /usr/local/lib/python3.7/dist-packages (1.8.0)
Requirement already satisfied: numpy>=1.6.1 in /usr/local/lib/python3.7/dist-packages (from sklearn_pandas) (1.19.5)
Requirement already satisfied: scipy>=0.14 in /usr/local/lib/python3.7/dist-packages (from sklearn_pandas) (1.4.1)
Requirement already satisfied: scikit-learn>=0.15.0 in /usr/local/lib/python3.7/dist-packages (from sklearn_pandas) (0.22.2.post1)
Requirement already satisfied: pandas>=0.11.0 in /usr/local/lib/python3.7/dist-packages (from sklearn_pandas) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.11.0->sklearn_pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.11.0->sklearn_pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.11.0->sklearn_pandas) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.15.0->sklearn_pandas) (1.0.1)

In [55]:
# pip install sklearn_pandas
from sklearn_pandas import DataFrameMapper

In [56]:
cat_maps = [(o, LabelEncoder()) for o in cat_vars]
contin_maps = [([o], StandardScaler()) for o in contin_vars]

In [57]:
mapper_cat = DataFrameMapper(cat_maps)
_ = mapper_cat.fit(df_train)

In [58]:
# Assortment es la novena posición en cat_maps
N = 10
print(list(zip(df_train['Assortment'].values[:N], mapper_cat.transform(df_train)[:,9][:N])))
print(list(zip(df_train['Events'].values[:N], mapper_cat.transform(df_train)[:,15][:N])))
print(list(zip(df_train['Year'].values[:N], mapper_cat.transform(df_train)[:,2][:N])))

[(0, 0), (0, 0), (0, 0), (2, 2), (0, 0), (0, 0), (2, 2), (0, 0), (2, 2), (0, 0)]
[(0, 0), (0, 0), (0, 0), (20, 20), (20, 20), (20, 20), (10, 10), (10, 10), (0, 0), (20, 20)]
[(2, 2), (2, 2), (2, 2), (2, 2), (2, 2), (2, 2), (2, 2), (2, 2), (2, 2), (2, 2)]

In [59]:
mapper_cont = DataFrameMapper(contin_maps)
_ = mapper_cont.fit(df_train)

In [60]:
N = 10
print(df_train['CompetitionDistance'].values[:N])
print(mapper_cont.transform(df_train)[:, 0][:N])

[-0.51104292 -0.59341201  1.00219483 -0.5875285   2.85902934 -0.62400624
  2.16359893  0.22439533 -0.42161363 -0.28864639]
[-0.51104292 -0.59341201  1.00219483 -0.5875285   2.85902934 -0.62400624
  2.16359893  0.22439533 -0.42161363 -0.28864639]

In [61]:
# La hacemos con todas ahora
df_train[cat_vars] = mapper_cat.transform(df_train)
df_test[cat_vars] = mapper_cat.transform(df_test)

In [62]:
df_train[contin_vars] = mapper_cont.transform(df_train)
df_test[contin_vars] = mapper_cont.transform(df_test)

In [63]:
df_train.head()

   Store  DayOfWeek  ... StateHoliday_bool_fw  Promo_fw
0      0          4  ...                    0         1
1      1          4  ...                    0         1
2      2          4  ...                    0         1
3      3          4  ...                    0         1
4      4          4  ...                    0         1

[5 rows x 81 columns]

In [64]:
DataFrameSummary(df_train[cat_vars]).summary().loc[['uniques', 'types']]

           Store DayOfWeek  ... SchoolHoliday_fw SchoolHoliday_bw
uniques     1115         7  ...                8                8
types    numeric   numeric  ...          numeric          numeric

[2 rows x 22 columns]

# Final processing

In [65]:
df_train.shape

(1017209, 81)

In [66]:
df_sales = df_train[df_train.Sales!=0]

In [67]:
df_sales.shape

(844338, 81)

In [68]:
df_test.reset_index(inplace=True)

In [69]:
df_sales.reset_index(inplace=True)

In [70]:
df_sales.to_feather('train_normalized_data.fth')

In [71]:
df_test.to_feather('test_normalized_data.fth')

In [72]:
(df_test['Open'] == 0).sum()

5984

In [73]:
(df_sales['Open'] == 0).sum()

0

In [74]:
(df_train['CompetitionDistance'].isna()).sum()

0

In [75]:
from google.colab import files
files.download('train_normalized_data.fth')